* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
/* Reset and general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Poppins', sans-serif; /* Applying a default font */
}

header {
  background-color: rgba(43, 25, 83, 1);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}



.v2_5 {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Adjustments for different screen sizes */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens here */
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


.v14_12 {
  width: 100%;
  height: 1024px;
  background: rgba(43,25,83,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_664 {
  width: 100%;
  height: 1045px;
  background: url("../images/v13_664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 21px;
  overflow: hidden;
}
.v13_658 {
  width: 205px;
  height: 205px;
  background: rgba(255,82,112,1);
  opacity: 0.28999999165534973;
  position: absolute;
  top: 415px;
  left: 466px;
}
.v13_666 {
  width: 280px;
  height: 199px;
  background: url("../images/v13_666.png");
  opacity: 0.28999999165534973;
  position: absolute;
  top: 402px;
  left: 777px;
  border: 10px solid rgba(255,189,59,1);
}
.v13_659 {
  width: 177px;
  height: 177px;
  background: url("../images/v13_659.png");
  opacity: 0.5;
  position: absolute;
  top: 22px;
  left: 437px;
  border: 8.75px solid rgba(255,82,112,1);
}
.v13_665 {
  width: 127px;
  height: 127px;
  background: url("../images/v13_665.png");
  opacity: 0.20000000298023224;
  position: absolute;
  top: 176px;
  left: 962px;
  border: 8.75px solid rgba(255,82,112,1);
}
.v13_656 {
  width: 277px;
  height: 302px;
  background: rgba(79,58,163,1);
  opacity: 0.5;
  position: absolute;
  top: 743px;
  left: 532px;
}
.v13_667 {
  width: 277px;
  height: 302px;
  background: rgba(79,58,163,1);
  opacity: 0.28999999165534973;
  position: absolute;
  top: 152px;
  left: 0px;
}
.v13_660 {
  width: 373px;
  height: 329px;
  background: rgba(255,189,59,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 578px;
  left: 26px;
}
.v13_661 {
  width: 145px;
  height: 128px;
  background: rgba(255,189,59,1);
  opacity: 0.28999999165534973;
  position: absolute;
  top: 0px;
  left: 1113px;
}
.v13_679 {
  width: 350px;
  height: 351px;
  background: rgba(79,58,163,1);
  opacity: 0.5;
  position: absolute;
  top: 649px;
  left: 1057px;
}
.v13_662 {
  width: 205px;
  height: 205px;
  background: rgba(255,82,112,1);
  opacity: 0.5;
  position: absolute;
  top: 243px;
  left: 1272px;
}
.v13_680 {
  width: 100%;
  height: 100%;
  background: rgba(53,53,53,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_690 {
  width: 100%;
  height: 701px;
  background: url("../images/v13_690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 69px;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 61px;
  overflow: hidden;
}
.v13_688 {
  width: 100%;
  height: 137px;
  background: url("../images/v13_688.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 49px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_686 {
  width: 300px;
  height: 137px;
  background: url("../images/v13_686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_683 {
  width: 226px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Bubblegum Sans;
  font-weight: Regular;
  font-size: 101px;
  opacity: 1;
  text-align: center;
}
.v13_687 {
  width: 969px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 349px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v13_689 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 206px;
  left: 37px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v15_35 {
  width: 684px;
  height: 52px;
  background: url("../images/v15_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 26px;
  opacity: 1;
  position: absolute;
  top: 889px;
  left: 378px;
  overflow: hidden;
}
.v15_20 {
  width: 144px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 22px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_21 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: Bubblegum Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v15_22 {
  width: 20px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 98px;
  transform: rotate(-45deg);
}
.v15_26 {
  width: 154px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 22px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 170px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_27 {
  width: 78px;
  color: rgba(255,82,112,1);
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: Bubblegum Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v15_28 {
  width: 20px;
  height: 17px;
  background: rgba(255,82,112,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 108px;
  transform: rotate(-45deg);
}
.v15_29 {
  width: 154px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 22px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 350px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_30 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: Bubblegum Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v15_31 {
  width: 20px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 108px;
  transform: rotate(-45deg);
}
.v15_32 {
  width: 154px;
  height: 52px;
  background: rgba(255,255,255,1);
  padding: 22px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 530px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v15_33 {
  width: 78px;
  color: rgba(255,189,59,1);
  position: absolute;
  top: 12px;
  left: 20px;
  font-family: Bubblegum Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v15_34 {
  width: 20px;
  height: 17px;
  background: rgba(255,189,59,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 108px;
  transform: rotate(-45deg);
}
